/* For Iphone x */

@import url("https://fonts.googleapis.com/css?family=Snowburst+One");

.chalkboard{
    background: url("//nebula.wsimg.com/75fe03dfec8707844b608aeb1fbd614f?AccessKeyId=0F9D1A4ACFCC9D22904E&amp;disposition=0&amp;alloworigin=1");
    
}

.crayon{
    width: 12vw;
}

/* .board .card{
    border-style: none;
} */

.card{
    border-style: dashed;
    border-color: purple;
    border-width: 3px;
    background: bottom;
}

.card-text{
    color: purple;
}

.card-title{
    font-family: 'Snowburst One',serif;
    color: purple;
}

.card-body{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-background{
    background-image: url('https://i.imgur.com/t9lZsTc.png');
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.background-image{
    height: 200%;
    width:  100%;
}

.background-image-two{
    height: 38vh;
    width:  100%;
}


.learn-picture{
    display: none;
}

.container {
    position: relative;
}

.text-block {
    border: dashed;
    position: absolute;
    width: 27%;
    position: absolute;
    text-align: center;
    left: 71%;
    top: 6.5%;
    background: rgba(255, 166, 0, 0.795);
    color: white;
    font-family: 'Snowburst One',serif;
}

.child{
    width: 100%;
}

.btn-secondary{
    background-color: rgba(205, 211, 221, 0.884);
    color: white;
}

.btn-secondary:hover{
    color: rgb(57, 120, 214);
    background-color: rgb(124, 192, 164)
}

/* for Galaxy S5 */

@media(min-width:600px){

    .master {
            width: 70%;
            margin-left: 15%;
    }
    
    .text-block{
        left: 62%;
        top: 6.5%;
        width: 12%;
        font-size:2vw;
    }

    .outer-container{
        display: flex;
        flex-direction: column;
    }
    .master-container{
        width: 60%;
        margin:auto;
    }

    .snow-text{
        padding-top:2%;
    }

    .centered{
        display: flex;
        flex-direction: column;
    }

    
}



    

