.mailer-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-size: 150%;
    background: rgb(181, 230, 158);
    padding-top: 100px;
    width: 100%;
    height: 86vh;
    justify-content: center;
}

.fields{
    height: 50px;
    width: 250px;
    font-size: 1.2em;
    border-radius:10px;
}
.long{
    color: rgba(85, 164, 238, 0.877);
    text-align: center;
}

.intro{
    color:rgba(85, 164, 238, 0.877);
    text-align: center;
    font-size: 3em;
}

.label-content{
    font-size: 1.5em;
    color:rgba(85, 164, 238, 0.877);
}

.edit-space{
    font-size: 20pt;
    background:white;
    border: 1px solid #bcbec0;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:10px;
}

.align{
   padding-left:.30%;
}

.title{
    color: white;
    text-align: center;
    font-size: 2em;
    text-decoration: underline white;
}

.inputfile{
    background: rgba(85, 164, 238, 0.877);
    padding: 10px 20px;
    color: rgb(181, 230, 158);
    border-radius: 10px;
    font-size:.75em;
    
}

@media (min-width: 1281px){
   .contact{
       padding-right: 1000px
   } 
}