.footer{
    margin-bottom: -100px;
    position: absolute;
    left: 0;
    background: rgb(0, 204, 255);;
    width: 100%;
    color: rgba(248, 248, 248, 0.979);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
 }

  .footer-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

 .footer-menu li a {
  
    position: relative;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

.copyright{
    margin-left: 3%;

}


 ul .footer-menu{
     list-style: none;
 }
.footer .logo {
  
    text-align: center;
    align-items: center;
    justify-content: center;
    margin:top;
    padding-top: 5px;
    text-decoration: none;
    font-size:2.5em;
  }
  
  @media(max-width: 447px){
    .learn-more{
        display: flex;
    }
    .footer-menu {
        padding-right:15%;
    }
  }

  